/* layout size */
// ---------------------------------------------------------------
// header
$root-layout-header-height: 50px;
// footer
$root-layout-footer-height: 40px;
// main
$root-layout-main-height: calc(
  100svh - $root-layout-header-height - $root-layout-footer-height
);
// aside
$root-layout-aside-with: 200px;
